body {
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
}

nav {
    background-color: red;
    position: relative;
    box-shadow: 0 3px 10px blue inset;
    box-shadow: 0 3px 10px black;
}

ul {
    font-size: 32px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: whitesmoke;
    text-align: center;
    padding: 10px 0;
}

li {
    display: inline-block;
    width: 15%;
}

#dropdownHover {
    
}

#dropdownHover:hover #dropdown {
    display: block;
}

#dropdown {
    display: none;
    position: absolute;
    color: blue;
    left: 62%;
}

#dropdown li {
    width: 100%;
}

h1 {
    text-shadow: 2px 2px 5px red;
}